.nav {
  font-family: "Oswald";
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 3.3rem 0;
}
.nav__navigation {
  display: flex;
}
.nav__menu {
  display: flex;
  list-style: none;
  margin: 0;
}
.nav__item {
  margin-right: 1.1rem;
  font-size: 2rem;
  line-height: 3rem;
}
.nav__item a {
  color: #333333;
  display: inline-block;
  padding: 1.7rem;
  transition: background-color 0.3s ease-in-out;
}
.nav__item a:hover {
  background-color: rgba(160, 73, 85, 0.2078431373);
}
.nav__search {
  display: flex;
}

.search {
  border: 1px solid #A04955;
  border-radius: 2rem;
  width: 17.7rem;
  height: 2.2rem;
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin: 1.2rem 0 1.2rem 1.7rem;
  padding: 0.9rem 2rem 0.9rem 7.3rem;
  text-transform: uppercase;
  font-family: "Oswald";
  font-weight: 400;
  background: url("../img/lens.svg") no-repeat;
  background-position: 3.8rem 0.9rem;
}