@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200;400;500;600;700&display=swap");
html {
  position: relative;
  font-size: 10px;
}

body {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 3.3rem;
  font-family: "Open Sans";
  color: #000000;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul, p {
  padding: 0;
  margin: 0;
}

.hide {
  display: none !important;
}

.container {
  max-width: 132rem;
  margin: 0 auto;
  width: 90%;
}
.container_small {
  width: 86%;
  margin: 0 auto;
}

.btn, .btn-red {
  text-align: center;
  border: 1px solid #000000;
  vertical-align: middle;
  height: 5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 24rem;
  padding: 0px 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.0784313725);
}

.btn-red {
  color: #fff;
  background-color: #A04955;
  border: none;
}

.up-btn {
  width: 8.3rem;
  height: 8.3rem;
  background-color: #A04955;
  border-radius: 50%;
  background-image: url("../../img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  position: fixed;
  right: 5rem;
  bottom: 3.5rem;
  display: block;
  z-index: 99;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitle {
  font-family: "Oswald";
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 3.6rem;
  color: #001F3D;
  margin: 0;
}

.title {
  font-family: "Oswald";
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 9.6rem;
  color: #001F3D;
  margin: 0;
}

.text-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
}
.text-column__title {
  margin: 0;
}
.text-column__description {
  margin: 1rem 0 3rem;
}

.picture-in-rect {
  position: relative;
}
.picture-in-rect__img {
  position: relative;
  margin: 3.5rem -1.1rem;
  z-index: 10;
}
.picture-in-rect__rect {
  position: absolute;
  width: 51.7rem;
  height: 46.5rem;
  z-index: 0;
  border: 1px solid #A04955;
}
.picture-in-rect__rect_up {
  right: 0;
  top: 0;
}
.picture-in-rect__rect_down {
  right: 13.9rem;
  top: 15.6rem;
}
.picture-in-rect__rect_red {
  background: #A04955;
}

.columns {
  display: flex;
  justify-content: space-between;
}
.columns_last {
  margin-left: 6rem;
}

.product-card {
  font-family: "Oswald";
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2.7rem 1.7rem 3.8rem;
}
.product-card__title {
  font-size: 2.4rem;
  text-align: center;
}
.product-card__title-place {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card__rating {
  display: flex;
  justify-content: center;
}
.product-card__star {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0.5rem 0.35rem;
  background-image: url("../../img/icons/star.svg");
  background-repeat: no-repeat;
  background-size: 2.4rem;
}
.product-card__star-void {
  background-image: url("../../img/icons/grey-star.svg");
}
.product-card__text {
  font-weight: 200;
}
.product-card__price {
  font-weight: 500;
}
.product-card__btn {
  margin-top: 1.5rem;
  background-image: url("../../img/icons/shopping-bag.svg");
  background-repeat: no-repeat;
  background-position: 0.9rem 0.8rem;
  padding: 0.4rem 0.8rem 0.4rem 3.3rem;
  font-weight: 400;
  background-color: #A04955;
  color: #fff;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.category-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-card__img {
  position: relative;
  display: flex;
  cursor: pointer;
}
.category-card__img img {
  width: 100%;
}
.category-card__title {
  height: 8.6rem;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  background-color: #A04955;
  opacity: 0.8;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-card__text {
  margin: 3.5rem 0 2.5rem;
  flex: 1 0 auto;
}
.category-card__btn {
  width: 36.6rem;
}
