
$red: #A04955;

.catalog {
	background-color: #e5e5e5;

		&__header {
			margin: 8rem 0 0 0;
			padding:7rem 0 .6rem;
			font-weight: 500;
			font-family: 'Oswald';
			text-transform: uppercase;
		}
	
		&__wrapper{
			display: grid;
			grid-template-columns: 1fr 3fr;
			align-items:stretch;
			justify-content: stretch;
			grid-gap: 2rem;
			padding: 2rem 0;
		}

		&__breadcrumbs {
			align-self:center;
		}

		&__search {
			text-transform: uppercase;
			border: none;
			border-bottom: 2px solid #c4c4c4;
			color:#8d8d8d;

			&::placeholder{
				color: #c4c4c4;
			}
		}

		&__sidebar {
			grid-row:1/3;
			align-self: flex-start;
		}

		&__products{
			display: grid;
			grid-template-columns: repeat(3,1fr);
			grid-gap: 2rem;
		}

		&__product {
			flex-basis: 28rem;
			box-shadow: 0px 4px 4px 0px #00000040;
		}
}

.breadcrumbs {
	display: flex;

		&>a{
			padding: 2rem 1.5rem 2rem 2.5rem;
			color:black;
			display: block;
		}

		&__home {
			padding-left: 4rem!important;
			font-weight: 400;
			background-image: url('../../img/icons/home.png');
			background-repeat: no-repeat;
			background-position: 0 2rem;
			background-size: 3rem 3rem;
		}

		&__next-page {
			background-image: url('../../img/icons/right-arrow.svg');
			background-repeat: no-repeat;
			background-position: 0 2.5rem;
			background-size: 2rem 2rem;
		}
}

.sidebar {
	background-color: #fff;
	border: 1px solid $red;
	padding: 0 2.5rem;

	&__section {
		border-bottom: 1px solid $red;
		padding: 2rem 0;
		position: relative;
	}

	&__section:last-child {
		border:none;
	}

	&__toggle {
		position:absolute;
		right:0;
		top:3.2rem;
		width:2rem;
		height:1.2rem;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: contain;
		background-image: url("../../img/icons/arrow-up.svg");
		cursor: pointer;
	}

	&__expand {
		transform:scaleY(-1)
	}

	&__title {
		min-height:3.6rem;
		font-family: 'Oswald';
		font-size: 20px;
		font-weight: 400;
		line-height: 36px;
		letter-spacing: 0.4rem;
		text-transform: uppercase;
		
	}

	&__grid {
		margin-top: 1.2rem;
		display: flex;
		flex-wrap: wrap;
		line-height: 4rem;
		gap:1.5rem;

		& li{
			width: 4rem;
			height: 4rem;
			background-color: #f1f1f1;
			text-align: center;
			cursor: pointer;
		}
	}

	&__list {
		line-height: 4rem;
		
		& li::before{
			content:'';
			border: 1px solid black;
			display: inline-block;
			width:1.5rem;
			height:1.5rem;
			margin-right: 1rem;
		}
	}
}

.paggination {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	color: $red;
	font-family: 'Oswald';
	font-size: 2rem;
	font-weight: 400;
	line-height: 3.6rem;
	text-align: center;

	& li{
		border: 1px solid $red;
		width: 3.5rem;
		height: 3.5rem;
		margin: .75rem;	
		cursor: pointer;
	}

	& li:last-child{
		margin-right: 0;
	}

	&__current {
		background-color: $red;
		color: #fff;
	}

	&__next, &__prev {
		background-repeat: no-repeat;
		background-position: center 1rem;
		background-size: 2rem;
		background-image: url("../../img/icons/arrow-up.svg");
		transform: rotate(.25turn);
	}

	&__prev {
		transform: rotate(-.25turn);
	}
}

.color-square {
	border: 1px solid #BCBCCC;
	transition: all 1s ease;
}

.color-square:hover{
	transform:scale(1.1);
}

.product-card{
	overflow: hidden;

	&__color-wrapper{
		display: flex;
		flex: 1 1 auto;
		justify-content: center;
		align-items: center;
		margin: 1.2rem 5rem 0;
	}

	&__color-list {
		display: flex;
		flex-wrap: wrap;
		gap:.5rem;
		flex: 1 1 auto;
		align-self: center;
	}

	&__color{
		width: 3rem;
		height: 2rem;
		border: 1px solid #BCBCCC;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		
		&::before, &::after{
			content:'';
			display: block;
			width: 15%;
			height: 100%;
			background-color: white;
		}
	}

	& img{
		width: 100%;
	}
}
