.nav {
    font-family: 'Oswald';
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin:1.3rem 0;
    position:fixed;
    z-index: 99;
    top:0;
    width:90%;
    max-width: 132rem;

    &__navigation{
        display: flex;
    }

    &__menu {
        display: flex;
        list-style: none;
        margin: 0;
    }

    &__item{
        margin-right:1.1rem;
        font-size:2rem;
        line-height: 3rem;
        & a{
            color: #333333;
            display: inline-block;
            padding: 1.7rem;
            transition: background-color .3s ease-in-out;
        }

        & a:hover{
            background-color: #a0495535;
        }
    }

    &__search {
        display: flex;
    }
}
.search {
    border:1px solid #A04955;
    border-radius: 2rem;
    width:17.7rem;   
    height:2.2rem;
    font-size:1.5rem;
    line-height: 2.2rem;
    margin:1.2rem 0 1.2rem 1.7rem;
    padding: .9rem 2rem .9rem 7.3rem;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-weight: 400;
    background: url('../img/icons/lens.svg') no-repeat;
    background-position: 3.8rem .9rem ;
}
