@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200;400;500;600;700&display=swap');
$gray-bg: #F1F1F1;
$red: #A04955;
$cont-small-width: 86%;

html{
    font-size: 10px;
}
body{
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 3.3rem;
    font-family: 'Open Sans';
    color:#000000;
    margin:0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
ul, p{
    padding:0;
    margin:0;
}
.container{
    max-width: 132rem;
    margin: 0 auto;
    width: 90%;

    &_small{
        width:$cont-small-width;
        margin: 0 auto;
    }
}
.btn, .btn-red {
    text-align: center;
    border: 1px solid #000000;
    vertical-align: middle;
    height: 5rem;
    width: fit-content;
    padding: 0px 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}
.btn:hover{
    background-color: #00000014;
}    
.btn-red{
    color: #fff;
    background-color: $red;
    border: none;
}
.subtitle {
    font-family: 'Oswald';
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 3.6rem;
    color:#001F3D;
    margin:0;
}
.title {
    font-family: 'Oswald';
    font-size: 6.5rem;
    font-weight: 700;
    line-height: 9.6rem;
    color:#001F3D;
    margin:0;
}

.text-column{
        display: flex;
        flex-direction: column;
        justify-content: center;

    &__title {
        margin:0;
    }

    &__description {
        margin: 1rem 0 3rem;
    }
}

.picture-in-rect {
    position: relative;

    &__img {
        position: relative;
        margin:3.5rem -1.1rem;
        z-index: 10;
    }

    &__rect {
        position: absolute;
        width: 51.7rem;
        height: 46.5rem;
        z-index:0;
        border: 1px solid $red;

        &_up {
            right: 0;
            top: 0;
        }

        &_down {
            right: 13.9rem;
            top: 15.6rem;
        }

        &_red {
            background: $red;
        }
    }
}

.columns{
    display: flex;
    justify-content: space-between;

    &_last{
        margin-left: 6rem;
    }
}

.header {
    margin: 7rem 0 9rem;
    height:62rem;
}

.sale {
    background-color: $gray-bg;
    color:#333333;
    text-align: center;
    font-weight: 500;
    padding: 8rem 0;

		&__subtitle {
            color:#333333;
        }

		&__title {
            color:#333333;
        }

		&__products {
            margin-top: 2.3rem;
            display:flex;
            justify-content: space-between;
        }

		&__product {
            background-color: white;
            padding: 3.2rem;
        }
}

.product-card {
    font-family: 'Oswald';
    font-size: 1.8rem;
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;;

		&__title {
            font-size: 2.4rem;
        }

        &__title-place{
            flex: 1 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

		&__rating {
            display: flex;
            justify-content: center;
        }

		&__star {
            width:2.4rem;
            height: 2.4rem;
            margin: .5rem .35rem;
            background-image: url('../../img/star.svg');
            background-repeat: no-repeat;
        }

		&__star-void {
            background-image: url('../../img/grey-star.svg');
        }

		&__text {
            font-weight: 200;
        }

		&__price {
            font-weight: 500;
        }

		&__btn {
            margin-top:1.5rem;
            background-image: url('../../img/shopping-bag.svg');
            background-repeat: no-repeat;
            background-position: .9rem .8rem;
            padding: .4rem .8rem .4rem 3.3rem;
            font-weight: 400;
            background-color: $red;
            color: #fff;
            cursor: pointer;
            width: fit-content;
        }
}

.bestseller {
    padding: 9rem 0;

    &__img{
        margin:-1.2rem 0;
    }
}

.sale2 {
    background-color: $gray-bg;
    padding: 9rem 0;

    &__card {
        width: 48%;
    }
}

.category-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__img {
        position: relative;
        display: flex;
        cursor: pointer;
        & img{
            width:100%;
        }
    }

    &__title {
        height: 8.6rem;
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        background-color: $red;
        opacity: .8;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        margin: 3.5rem 0 2.5rem;
    }

    &__btn {
        width: 36.6rem;
    }
}

.article {
    background-image: url('../../img/rectangle.png');
    background-size: 100%;
    
    & *{
        color: #fff;
    }

    &__column {
        width:48%;
        padding: 2.2rem 0 4rem;
    }

    & .text-column__description {
        width: 90%;
    }
}

.sale3 {
    margin: 9rem 0;

    &__bg {
        background-color: $red;
        height: 34rem;
        padding-top: 3rem;
        position: relative;
    }
    
    &__title {
        color:white;
        text-align: center;
    }

    &__products {
        position: absolute;
        bottom: -50%;
        width: $cont-small-width;
        display: flex;
        justify-content: space-between;
    }

    &__product {
        background-color: #fff;
        width: 27.5%;
        border: 1px solid $red;
        padding: 2.7rem 0 3.8rem;

        & img{
            flex: 1 0 auto;
            margin-bottom: 1rem;
        }

        & .btn-red{
            font-family: 'Open sans';
            margin-top: 1.5rem;
            width:22rem;
            height: 4rem;
            padding: 0 1rem;
        }
    }
}
.product-card {

    &__img {}

    &__title {}
}

