@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200;400;500;600;700&display=swap');

$gray-bg: #F1F1F1;
$red: #A04955;
$cont-small-width: 86%;

html{
    font-size: 10px;
}

body{
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 3.3rem;
    font-family: 'Open Sans';
    color:#000000;
    margin:0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

ul, p{
    padding:0;
    margin:0;
}

.hide {
    display: none;
}

.container{
    max-width: 132rem;
    margin: 0 auto;
    width: 90%;

    &_small{
        width:$cont-small-width;
        margin: 0 auto;
    }
}

.btn, .btn-red {
    text-align: center;
    border: 1px solid #000000;
    vertical-align: middle;
    height: 5rem;
    width: fit-content;
    min-width: 24rem;
    padding: 0px 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.btn:hover{
    background-color: #00000014;
}  

.btn-red{
    color: #fff;
    background-color: $red;
    border: none;
}

.up-btn{
    width:8.3rem;
    height:8.3rem;
    background-color: #A04955;
    border-radius: 50%;
    background-image: url('../../img/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    position:fixed;
    right: 5rem;
    bottom: 3.5rem;
    display: block;
    z-index: 99;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitle {
    font-family: 'Oswald';
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 3.6rem;
    color:#001F3D;
    margin:0;
}

.title {
    font-family: 'Oswald';
    font-size: 6.5rem;
    font-weight: 700;
    line-height: 9.6rem;
    color:#001F3D;
    margin:0;
}

.text-column{
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 3;

    &__title {
        margin:0;
    }

    &__description {
        margin: 1rem 0 3rem;
    }
}

.picture-in-rect {
    position: relative;

    &__img {
        position: relative;
        margin:3.5rem -1.1rem;
        z-index: 10;
    }

    &__rect {
        position: absolute;
        width: 51.7rem;
        height: 46.5rem;
        z-index:0;
        border: 1px solid $red;

        &_up {
            right: 0;
            top: 0;
        }

        &_down {
            right: 13.9rem;
            top: 15.6rem;
        }

        &_red {
            background: $red;
        }
    }
}

.columns{
    display: flex;
    justify-content: space-between;

    &_last{
        margin-left: 6rem;
    }
}

.product-card {
    font-family: 'Oswald';
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 2.7rem 1.7rem 3.8rem;

		&__title {
            font-size: 2.4rem;
            text-align: center;
        }

        &__title-place{
            flex: 1 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

		&__rating {
            display: flex;
            justify-content: center;
        }

		&__star {
            width:2.4rem;
            height: 2.4rem;
            margin: .5rem .35rem;
            background-image: url('../../img/icons/star.svg');
            background-repeat: no-repeat;
        }

		&__star-void {
            background-image: url('../../img/icons/grey-star.svg');
        }

		&__text {
            font-weight: 200;
        }

		&__price {
            font-weight: 500;
        }

		&__btn {
            margin-top:1.5rem;
            background-image: url('../../img/icons/shopping-bag.svg');
            background-repeat: no-repeat;
            background-position: .9rem .8rem;
            padding: .4rem .8rem .4rem 3.3rem;
            font-weight: 400;
            background-color: $red;
            color: #fff;
            cursor: pointer;
            width: fit-content;
        }
}

.category-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__img {
        position: relative;
        display: flex;
        cursor: pointer;
        & img{
            width:100%;
        }
    }

    &__title {
        height: 8.6rem;
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        background-color: $red;
        opacity: .8;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        margin: 3.5rem 0 2.5rem;
        flex: 1 0 auto;
    }

    &__btn {
        width: 36.6rem;
    }
}
